alias .f='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

alias alert='/usr/local/bin/notify -t "$(dirs +0)" -m "Done"; printf "\a"'
alias cat='ccat'
alias ducks="du -cks * | sort -rn | head"
alias cgrep='grep --color=always'
alias ip='ipconfig getifaddr en0'
alias jt="joe -nobackups -nonotice -autoindent"
alias cls="colorls -A --sd"
alias ls='ls -GA'
alias sudo='sudo '
