alias .f='git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

alias alert='/usr/local/bin/terminal-notifier -title "${PWD//${HOME}/\~}" -message "${ALERT_MESSAGE:-Done}" -sound default; printf "\a"'
alias cat='ccat'
alias ducks="du -cks * | sort -rn | head"
alias cgrep='grep --color=always'
alias ip='ipconfig getifaddr en0'
alias jt="joe -nobackups -nonotice -autoindent"
alias cls="colorls -A --sd"
alias ls='ls -GA'
alias sudo='sudo '
# alias gitpurge="git checkout develop >/dev/null 2>&1 && (git branch --merged | awk '/feature/{ print $1 }' | xargs git branch -d {}; git checkout - >/dev/null 2>&1)"
alias gitpurge='git checkout develop && (git branch --merged | awk "/feature/{ print $1 }" | (xargs git branch -d {}); git checkout -)'
alias isodate='date "+%Y-%m-%d %H:%M:%S"'
alias peslint='yarn eslint --cache --config ~/.eslintrc-personal-preference.js --ext .js,.ts,.tsx --format codeframe --resolve-plugins-relative-to "$(git rev-parse --show-toplevel)"'
alias review='yarn eslint --cache --config ~/.eslintrc-review.js --ext .js,.ts,.tsx --format codeframe --resolve-plugins-relative-to "$(git rev-parse --show-toplevel)"'
alias peslintglobal='eslint --config ~/.eslintrc.js --ext .js,.ts,.tsx --format codeframe'
alias pip=/usr/local/bin/pip3
alias boc='(cd ~/dev/xxl-monorepo && wait-on http://localhost:3000 ; yarn workspace @xxl/backoffice cypress:open)'
alias bocd='(cd ~/dev/xxl-monorepo && CYPRESS_BASE_URL=https://backoffice.dev.aws.xxl.se yarn workspace @xxl/backoffice cypress:open)'
alias bod='(cd ~/dev/xxl-monorepo && yarn workspace @xxl/backoffice dev)'
alias bob='(cd ~/dev/xxl-monorepo && yarn workspace @xxl/backoffice build)'
alias bos='(cd ~/dev/xxl-monorepo && yarn workspace @xxl/backoffice start)'
alias rsc='(cd ~/dev/xxl-monorepo && wait-on http://localhost:3000 ; yarn workspace @xxl/retailsolutions cypress:open)'
alias rscd='(cd ~/dev/xxl-monorepo && CYPRESS_BASE_URL=https://retailsolutions.dev.xxlsports.com/ yarn workspace @xxl/retailsolutions cypress:open)'
alias rsd='(cd ~/dev/xxl-monorepo && yarn workspace @xxl/retailsolutions dev)'
alias rsb='(cd ~/dev/xxl-monorepo && yarn workspace @xxl/retailsolutions build)'
alias rss='(cd ~/dev/xxl-monorepo && yarn workspace @xxl/retailsolutions start)'
alias rsst='(cd ~/dev/xxl-monorepo && yarn workspace @xxl/retailsolutions start-server-and-test start http://localhost:3000 cypress:open)'
