# Set default editor to joe
export EDITOR="joe"

# Turn on colors
export CLICOLOR=1
export LSCOLORS=gxBxhxDxfxhxhxhxhxcxcx

# Don't auto-update homebrew. I do that in other places.
export HOMEBREW_NO_AUTO_UPDATE=1

# Turn on colors
export CLICOLOR=1
export LSCOLORS=gxBxhxDxfxhxhxhxhxcxcx

# Lang
export LANG=en_US.UTF-8

# Use Yarn instead of npm with Husky
export HUSKY_USE_YARN=true

# Opt-out from telemetry
## AWS SAM
export SAM_CLI_TELEMETRY=0
## Cypress
export CYPRESS_CRASH_REPORTS=0
## Homebrew
export HOMEBREW_NO_ANALYTICS=1

# Prefer Yarn
## Husky
export HUSKY_USE_YARN=true

# NVM_DIR
export NVM_DIR="$HOME/.nvm"

# Cypress
export CYPRESS_DEFAULT_COMMAND_TIMEOUT=2000
