{
  "overrides": [
    {
      "files": [".*rc"],
      "options": {
        "parser": "yaml"
      }
    },
    {
      "files": [
        ".babelrc",
        ".eslintrc",
        ".huskyrc",
        ".lintstagedrc",
        ".postcssrc",
        ".posthtmlrc",
        ".prettierrc",
        ".sassrc"
      ],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["composer.json"],
      "options": {
        "parser": "json-stringify",
        "tabWidth": 4
      }
    }
  ]
}
