#!/usr/bin/env bash

function _run_cronjob() {
  if [[ "${DEBUG:-false}" != 'true' ]]; then
    RETVAL=0
    if OUTPUT=$("$@" 2>&1); then
      exit
    else
      RETVAL=$?
      echo "${OUTPUT}"
      echo ""
      echo "RETVAL: $RETVAL"
    fi
    exit $RETVAL
  else
    "$@"
  fi
}

function _exit_on_tethered() {
  if is-tethered;
  then
    echo "Won't run all of '${JOB_NAME:-$0}' on tethered connection"
    exit 1
  fi
}

function _title() {
  local COLUMNS
  COLUMNS=$(tput cols)
  COLUMNS="${COLUMNS:-80}"
  echo "=≡☰ ${*} ☰≡=" | awk '{L = '"${COLUMNS}"' - length; for(i=1; i<=int(L/2); i++) {printf "-";} printf "%s", $0; for(i=1; i<=int(L/2+.5); i++) {printf "-";}printf "\n";}'
}

function _print_shortlist() {
  cd "$(dirname "${BASH_SOURCE[0]}")" || exit 1
  SHORTLIST=()
  for i in *.sh;
  do
    SCRIPT_PATH="${i}"
    if [ -r "$SCRIPT_PATH" ] && [ -x "$SCRIPT_PATH" ];
    then
      SHORTLIST+=("${i%.sh}")
    fi
  done

  echo "${SHORTLIST[*]}"
}
